{% extends 'base.html' %}

{% block title %} Feedback {% endblock %}


{% block content %}
<h2>Leave your feedback</h2>

<form method="post">
    {% csrf_token %}
        <label for="id_username">Username:</label>
        <input type="text" id="id_username" name="name">
    <br>
    <br>
        <label for="id_rating">Rating:</label>
        <input type="number" id="id_rating" name="rating">
    <br>
    <br>
        <label for="id_comment">Your comment:</label>
        <input type="text" id="id_comment" name="comment">
    <br>
    <br>
        <input type="submit" id="id_submit" name="submit" >
</form>


{% endblock %}
